body{
    background-color: bisque;
    width: 60vw;
    margin: auto;
}

.example{
    width: 60vw
}

ol{
    font-weight: bold;
}

.explanation{
    margin-left: 1em;
    font-weight: normal;
    }

